@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"); */

:root {
  /* --background: #05070b; */
  --background: #15100c;
  --background-b4: #15100b;
  --foreground: #ffffff;
  --background-a: #05070b;
  --background-b1: #38261d;
  --background-b2: #38281d80;
  --background-b3: #38261d40;
  --brand-br1: #ff793f;
  --brand-br2: #cc6133;
  --border: #404040;
  --very-light-pink: #fff3f3;
  --text-color: #bebebe;
  /* --color-fd-background: hsl(0, 100%, 64%); */
}

/* [data-theme='dark'] {
  --background: #05070b;
  --foreground: #ffffff;
  --background-a: #05070b;
  --background-b1: #38261d;
  --background-b2: #38281d80;
  --background-b3: #38261d40;
  --brand-br1: #ff793f;
  --brand-br2: #cc6133;
  --border: #404040;
} */

@theme {
  --color-link: #d9d9d9;
  --color-brand-br: #ff5c00;
  --color-brand-br1: #ff793f;
  --color-brand-br2: #cc6133;
  --color-background-b1: #38261d;
  --color-background-b3: #38261d40;
  --color-background-b4: #15100b;
  --color-heading: white;
  --color-background: #05070b;
  --color-very-light-pink: #fff3f3;
  --color-border: #404040;
  --color-text-color: #bebebe;
}

body {
  background: var(--background);
  /* background: var(--foreground); */
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.docs {
  background-color: #fff;
  min-height: 100vh;
  color: var(--background);
}

.cp-x {
  @apply px-4 sm:px-6 lg:px-8;
}

.cp-y {
  @apply py-12 sm:py-16 lg:py-20;
}

.btn-primary {
  @apply bg-white sm:font-semibold text-sm sm:text-lg cursor-pointer text-background hover:text-white hover:bg-brand-br1 text-center rounded-[30px] px-3.5 py-1.5 sm:px-7 sm:py-2.5 leading-[1.4] hover:scale-[0.93] transition-all duration-400 ease-[cubic-bezier(.25,.46,.45,.94)];
}

.btn-secondary {
  @apply cursor-pointer inline-block border-1 border-brand-br2 text-white px-3 py-1 rounded-xl text-sm hover:bg-brand-br2 hover:text-link transition-colors duration-[400ms] ease-[cubic-bezier(.25,.46,.45,.94)];
}

@layer components {
  .scan-line {
    position: fixed;
    height: 2px;
    width: 100vw;
    top: 0;
    left: 0;
    animation: scan 8s linear infinite;
    background: linear-gradient(
      to right,
      transparent,
      var(--brand-br1),
      transparent
    );
    opacity: 0.3;
  }
  .glow-top {
    z-index: -1;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    width: 100%;
    height: 31.25rem;
    background-image: radial-gradient(
        circle farthest-corner at 50% -170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(180deg, var(--brand-br1), transparent);
  }

  .glow-top-light {
    z-index: -1;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    width: 100%;
    height: 31.25rem;
    background-image: radial-gradient(
        circle farthest-corner at 50% -170%,
        transparent 52%,
        /* var(--background-a) */ var(--foreground)
      ),
      linear-gradient(180deg, var(--brand-br1), transparent);
  }

  .glow-bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    opacity: 0.2;
    background-image: radial-gradient(
        circle farthest-corner at 50% 170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(0deg, var(--brand-br1), transparent);
  }

  .shadow-navbar {
    pointer-events: none;
    position: absolute;
    inset: 0% 0% auto 0%; /* top: 0; left: 0; right: 0; no bottom */
    height: 140px;
    z-index: 10;
    will-change: opacity;
    opacity: 0;
    background-image: linear-gradient(
      180deg,
      var(--background-a) 20%,
      #05070bcc 60%,
      #fff0
    );
  }

  .shadow-navbar-light {
    pointer-events: none;
    position: absolute;
    inset: 0% 0% auto 0%; /* top: 0; left: 0; right: 0; no bottom */
    height: 140px;
    z-index: 10;
    will-change: opacity;
    opacity: 0;
    background-image: linear-gradient(
      180deg,
      var(--foreground) 20%,
      #ffffff 60%,
      #ffffff
    );
  }

  .gradient-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b2),
      var(--background-b3)
    );
  }

  .gradient-light-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b1),
      var(--background-b2)
    );
  }
}

.wheel {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.12, 0.99);
}

.wheel-segment {
  transform-origin: center;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}
@keyframes scan {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100vh);
  }
}

/* ===============================
   SOLANA WALLET ADAPTER OVERRIDES
   =============================== */

/* Make button look like .btn-primary */
.wallet-adapter-button {
  /* background-color: var(--background-b1) !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  text-align: center !important;
  color: var(--heading) !important;
  border-radius: 15px !important;
  padding: 0rem 0.3rem !important;
  line-height: 1.4 !important;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  height: fit-content !important; */
  font-style: normal;
  font-weight: 400;
  @apply !bg-background-b1 sm:font-semibold! !text-sm sm:text-lg! !cursor-pointer !text-heading hover:bg-brand-br1! !text-center !rounded-[15px] !px-3.5 !py-1.5 sm:px-7! sm:py-2.5! !leading-[1.4] hover:scale-[0.93]! !transition-all !duration-400 !ease-[cubic-bezier(.25,.46,.45,.94)];
  padding: 6px 7px !important;
  height: fit-content !important;
  font-family: Roboto, Roboto Fallback !important;
  font-weight: 100 !important;
}

/* Dropdown list container */
.wallet-adapter-dropdown-list {
  margin-top: 0.5rem;
  width: 11rem; /* 44 x 0.25rem */
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 50;
  padding: 0.25rem;
  font-size: 0.875rem;
  color: white;
  background-color: var(--background-b1);
  backdrop-filter: blur(20px) saturate(150%);
  border: 1px solid var(--border);
}

/* Individual dropdown items */
.wallet-adapter-dropdown-list-item {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.wallet-adapter-dropdown-list-item:hover {
  background-color: var(--background-b3);
  color: white;
}

/* Close modal button (X) */
.wallet-adapter-modal-button-close {
  color: white;
  background-color: transparent;
}

.wallet-adapter-modal-button-close:hover {
  background-color: var(--background-b3);
}

.wallet-adapter-modal-button-close svg {
  fill: white !important;
}

/* Wallet icon spacing */
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon {
  margin-right: 0.5rem;
}

/* Spin the wheel  */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.hero-section {
  background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67da90d9971da1b1236d93fc_Hero%20Bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 198px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .hero-section {
    background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67f3c1b1af26701c0a617691_Home%20bg.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 144px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    padding-top: 118px;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    padding-top: 88px;
  }
}

.customer-section {
  background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67dbadae5990780b5fc4803f_Feature%20Bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 198px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .customer-section {
    background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67dbadae5990780b5fc4803f_Feature%20Bg.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 144px;
  }
}

@media screen and (max-width: 767px) {
  .customer-section {
    padding-top: 118px;
  }
}

@media screen and (max-width: 479px) {
  .customer-section {
    padding-top: 88px;
  }
}

.brands-section {
  background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67dbf06eb8ca0ec2a24b26df_Feature%20Choose%20Bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 198px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .brands-section {
    background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67dbf06eb8ca0ec2a24b26df_Feature%20Choose%20Bg.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 144px;
  }
}

@media screen and (max-width: 767px) {
  .brands-section {
    padding-top: 118px;
  }
}

@media screen and (max-width: 479px) {
  .brands-section {
    padding-top: 88px;
  }
}

.testimonial-section {
  background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67de5b99d252b1696edf1d85_Testimonial.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 198px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .testimonial-section {
    background-image: url("https://cdn.prod.website-files.com/67d94a83b4dcb2e406b897dc/67de5b99d252b1696edf1d85_Testimonial.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 144px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial-section {
    padding-top: 118px;
  }
}

@media screen and (max-width: 479px) {
  .testimonial-section {
    padding-top: 88px;
  }
}

/* .text-ticker {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8b4513;
  text-shadow: 0 0 25px rgba(139, 69, 19, 0.3);
  font-size: 130px;
  line-height: 110px;
} */
.text-ticker {
  color: #38261d; /* dark gray */
  text-shadow: none;
  -webkit-text-stroke-width: 0;
  font-size: 120px;
  line-height: 110px;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .text-ticker {
    font-size: 60px;
    line-height: 82px;
  }
}
@media screen and (max-width: 991px) {
  .text-ticker {
    font-size: 72px;
    line-height: 94px;
  }
}

:root {
  --bg: #15100c;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  /* background: var(--bg); */
  background: transparent;
  margin: 0;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* Neon Text */

.neon-text {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
    0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
      0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

/* Vertical marquee testimonial */

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 20s linear infinite;
}

@keyframes spinloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spinloader {
  animation: spin 1s linear infinite;
}

/* Prevent horizontal scroll on the entire site */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Better carousel scrolling for mobile */
@media (max-width: 640px) {
  #draws-carousel {
    -webkit-overflow-scrolling: touch;
    scroll-padding: 0 1rem;
  }
}
