@import "tailwindcss";
@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --background: #05070b;
  --foreground: #ffffff;
  --background-a: #05070b;
  --background-b1: #38261d;
  --background-b2: #38281d80;
  --background-b3: #38261d40;
  --brand-br1: #ff793f;
  --brand-br2: #cc6133;
  --border: #404040;
}

@theme {
  --color-link: #d9d9d9;
  --color-brand-br1: #ff793f;
  --color-brand-br2: #cc6133;
  --color-background-b1: #38261d;
  --color-background-b3: #38261d40;
  --color-heading: white;
  --color-background: #05070b;
  --color-border: #404040;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cp-x {
  @apply px-4 sm:px-6 lg:px-8;
}

.cp-y {
  @apply py-12 sm:py-16 lg:py-20;
}

.btn-primary {
  @apply bg-background-b1 sm:font-semibold text-sm sm:text-lg cursor-pointer text-heading hover:bg-brand-br1 text-center rounded-[15px] px-3.5 py-1.5 sm:px-7 sm:py-2.5 leading-[1.4] hover:scale-[0.93] transition-all duration-400 ease-[cubic-bezier(.25,.46,.45,.94)];
}

.btn-secondary {
  @apply cursor-pointer inline-block border-1 border-brand-br2 text-white px-3 py-1 rounded-xl text-sm hover:bg-brand-br2 hover:text-link transition-colors duration-[400ms] ease-[cubic-bezier(.25,.46,.45,.94)];
}

@layer components {
  .scan-line {
    position: fixed;
    height: 2px;
    width: 100vw;
    top: 0;
    left: 0;
    animation: scan 8s linear infinite;
    background: linear-gradient(
      to right,
      transparent,
      var(--brand-br1),
      transparent
    );
    opacity: 0.3;
  }
  .glow-top {
    z-index: -1;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    width: 100%;
    height: 31.25rem;
    background-image: radial-gradient(
        circle farthest-corner at 50% -170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(180deg, var(--brand-br1), transparent);
  }

  .glow-bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    opacity: 0.2;
    background-image: radial-gradient(
        circle farthest-corner at 50% 170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(0deg, var(--brand-br1), transparent);
  }

  .shadow-navbar {
    pointer-events: none;
    position: absolute;
    inset: 0% 0% auto 0%; /* top: 0; left: 0; right: 0; no bottom */
    height: 140px;
    z-index: 10;
    will-change: opacity;
    opacity: 0;
    background-image: linear-gradient(
      180deg,
      var(--background-a) 20%,
      #05070bcc 60%,
      #fff0
    );
  }

  .gradient-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b2),
      var(--background-b3)
    );
  }

  .gradient-light-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b1),
      var(--background-b2)
    );
  }
}

@keyframes scan {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100vh);
  }
}
