/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-a: #05070b;
  --background-b1: #38261d;
  --background-b2: #38281d80;
  --background-b3: #38261d40;
  --brand-br1: #ff793f;
  --brand-br2: #cc6133;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  /* --font-roboto: "Roboto", sans-serif; */
  --color-link: #d9d9d9;
  --color-brand-br1: #ff793f;
  --color-brand-br2: #cc6133;
  --color-background-b1: #38261d;
  --color-background-b3: #38261d40;
  --color-heading: white;
  --color-background: #05070b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #05070b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cp-x {
  @apply px-4 sm:px-6 lg:px-8;
}

@layer components {
  .glow-top {
    z-index: -1;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    width: 100%;
    height: 31.25rem;
    background-image: radial-gradient(
        circle farthest-corner at 50% -170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(180deg, var(--brand-br1), transparent);
  }

  .glow-bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    opacity: 0.2;
    background-image: radial-gradient(
        circle farthest-corner at 50% 170%,
        transparent 52%,
        var(--background-a)
      ),
      linear-gradient(0deg, var(--brand-br1), transparent);
  }

  .shadow-navbar {
    pointer-events: none;
    position: absolute;
    inset: 0% 0% auto 0%; /* top: 0; left: 0; right: 0; no bottom */
    height: 140px;
    z-index: 10;
    will-change: opacity;
    opacity: 0;
    background-image: linear-gradient(
      180deg,
      var(--background-a) 20%,
      #05070bcc 60%,
      #fff0
    );
  }

  .gradient-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b2),
      var(--background-b3)
    );
  }

  .gradient-light-card-bg {
    background-image: linear-gradient(
      140deg,
      var(--background-b1),
      var(--background-b2)
    );
  }
}
